@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.about-jumbo {
    /* margin-bottom: 1rem; */
    padding-left: 15px;
    font-family: 'Heebo', sans-serif;
    
}

.about-wrap {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.about-me {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300
}

.keith-headshot {
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 93%;
    border-radius: 10px;
    box-shadow: 3px 0 5px;
    
}

.about-github {
    margin-right: 1rem;
    background-color: transparent;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-right: 0.9rem;
    padding-left: 0.9rem;
    border: 2px solid #28a745;
    width: 150px;
    color: #28a745;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px
    
}

.about-github:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}


.github-icon {
    margin-right: 6px;
    color: #28a745
}



.about-mail {
    text-decoration: none;
    margin-right: 1rem;
    background-color: transparent;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-right: 0.9rem;
    padding-left: 0.9rem;
    border: 2px solid #63D1F4;
    width: 150px;
    color: #63D1F4;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px
    
}

.about-mail:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.mail-icon {
    margin-right: 6px;
    color: #63D1F4
}

.about-resume {
    margin-right: 1rem;
    background-color: transparent;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-right: 0.9rem;
    padding-left: 0.9rem;
    border: 2px solid #DC143C;
    width: 150px;
    color: #DC143C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px
}

.about-resume:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.resume-icon {
    margin-right: 6px;
    color: #DC143C	
}

.button-container {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

@media screen and (max-width: 391px) {
    .about-github {
        width: 300px;
        margin-bottom: -20px
    }
    .about-resume {
        width: 300px
    }
    .about-mail {
        width: 300px;
        margin-bottom: -20px;
    }
}