
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300&display=swap');

.navbar-brand {
    font-family: 'Heebo', sans-serif;
    color: #3C6997;   
    font-size: 35px
    
}

.navbar-brand:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.10em);
}

.nav-link {
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    color: #094074
}

.nav-link:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.10em);
}

.name {
    color: #70E0FF
}



.content-wrap {
    padding-top: 3rem;
}

.profile-spacing {
    margin-top: 3rem;
    /* padding-left: 17px; */
    margin-left: auto;
    margin-right: auto
}

.greeting {
    font-family: 'Heebo', sans-serif;
    font-size: 50px;
    margin-bottom: 1.7rem
}

.about-me-profile {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 20px
}

.keith-emoji {
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 70%
}

.skill-emoji {
    display: block;
    margin: auto;
    width: 20%
}

.skill-left {
    font-family: 'VT323', monospace;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 50px;
    
}

.skill-right {
    font-family: 'Averia Serif Libre', cursive;

    text-align: center;
    margin-top: 1.8rem;
    font-size: 40px
}




.skills-wrapper {
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin: 50px auto;
    width: 100%;
    /* height: 500px; */
    display: flex;
    align-items: stretch;
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.03);
    border-radius: 5px
}

.skills-title {
    font-family: 'Heebo', sans-serif;
    font-size: 40px;
    color: #ff9e1f
}

.projects-section-header {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.project-wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin: 70px auto;
    width: 100%;
    display: flex;
    box-shadow: 0 0 3px 5px rgba(0,0,0,0.03);
}
.project-wrapper-2 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin: 70px auto;
    width: 100%;
    display: flex;
    box-shadow: 0 0 3px 5px rgba(0,0,0,0.03);
}

.project-title {
    font-family: 'Heebo', sans-serif;
    font-size: 45px
}

.project-copy {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%
}

.project-image {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    box-shadow: 2px 2px 8px;
}

.project-description {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    margin-top: 1.5rem;
    max-width: 90%;
    margin-bottom: 2rem;
}

.technologies h6 {
    margin-top: 2rem;
    text-decoration: underline;
    text-decoration-style: underline #FFE15C;
}

.button-holder {
    margin-bottom: 1.5rem;
}

.githubBtn {
    margin-right: 1rem;
    background-color: transparent;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-right: 0.9rem;
    padding-left: 0.9rem;
    border: 4px solid #094074;
    width: 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500
}
.githubBtn:hover {   
    background-color: #094074;
    color: white
}

.deployBtn {
    margin-right: 1rem;
    background-color: transparent;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-right: 0.9rem;
    padding-left: 0.9rem;
    border: 4px solid lightblue;
    width: 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500
}

.deployBtn:hover {
    background-color: lightblue;
    color: white
}

.tech-logo {
margin-right: 5px;

}

.logos {
    margin-bottom: 3rem
}

.icons-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.icons-container div{
    text-align: center;
    margin: auto 40px;
}

.icon {
    height: 30px;
    width: 40px;
}
.icon-label {
    font-family: 'Montserrat', sans-serif;
}


@media screen and (max-width: 390px) {
    
    .navbar-brand {
        text-align: left;
        font-size: 20px
    }

    .nav-link {
        text-align: right;
        font-size: 30px
    }
    
    .skill-right {
        font-size: 30px;
    }

    .skill-left {
        font-size: 30px
    }

    .projects-section-header {
        font-size: 40px;
        text-align: center;
        margin-top: 2rem
    }
    
    .down-emoji {
        display: none
    }

    .skill-emoji {
        width: 40%
    }

    .project-wrapper {
        display: flex;
        justify-content: center;
    }

    .githubBtn {
        margin-bottom: 1rem;
        width: 100%
        
    }

    .deployBtn {
        width: 100%
    }
}